.s2j-slug-generater-panel {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.s2j-slug-generater-panel .components-notice {
  margin: 0;
}

.s2j-similarity,
.s2j-current-slug {
  margin: 0;
}
